Checks: '-*,
          bugprone-*,
          google-*,
          misc-*,
          modernize-*,
          performance-*,
          portability-*,
          readability-*,
          -google-readability-namespace-comments,
          -google-runtime-int,
          -google-runtime-references,
          -misc-non-private-member-variables-in-classes,
          -readability-named-parameter,
          -readability-braces-around-statements,
          -modernize-use-trailing-return-type,
          -readability-use-anyofallof
          -performance-avoid-endl'
